*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #EAEDED;
}

nav{
    width: 100%;
    height: 80px;
    background: #131921;
    position:fixed;
    top: 0;
}

.menu1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
}
.topbar{
    display: none;
}

.box_pesquisa{
    width: 1000px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

sub{
    display: flex;
    justify-content: space-around;
    background-color: #232F3E;
    width: 100%;
    height: 35px;
    align-items: center;
    font-size: inherit;
    position: fixed;
    margin-top: 18px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.texto2{
    list-style: none;
    color: #ffffff;
    display: contents;
}

.texto2 a{
    text-decoration: none;
}

#burguer{
    display: none;
}

#menuMobile{
    display: none;
}

#burguer{
    width: 20px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

#burguer > div{
    background-color: aliceblue;
    height: 3px;
    width: 60px;
    border-radius: 15px;
    transition: all ease-in.3s;
    z-index: 999;
}

#burguer > div:nth-child(2){
    width: 20px;
}

#burguer > div:nth-child(3){
    width: 20px;
}

#burguer > div:nth-child(1){
    width: 20px;
}

#burguer:hover div{
    width: 45;
}

#burguer.active > div:nth-child(1){
    transform: rotate(50deg) translateY(10px);
    width: 30px;
    margin-top: 1px;

}

#burguer.active > div:nth-child(2){
    transform: rotate(-50deg) translateY(-10px);
    width: 30px;
    margin-top: 10px;
}

#burguer.active > div:nth-child(3){
    opacity: 0;
}

#menuDesktop{
    position: fixed;
    width: 400px;
    background: #fff;
    transform: translateX(-100%);
    transition: all linear .5s;
}

#menuDesktop.active{
    transform: translateY(0);
    margin-top: 52px;
    height: 100vh;
}

#menuDesktop ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

#menuDesktop ul li{
    padding: 20px;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    line-height: 26px;
} 
#menuDesktop ul li a{
    text-decoration: none;
}

.ofertadoDia{
    display: flex;
}

.inteiro{
    display: flex;
}

.texto3{
    list-style: none;
    color: #000000;
}

.meio{
    margin-top: 62px;
}

li{
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    font-family: "Amazon Ember",Arial,sans-serif;
    cursor: pointer;
}

.meio{
    margin-left: 10%;
    margin-right: 10%;
    height: 575px;
    width: 1500px;
    background: rgb(234,237,237);
    background: linear-gradient(0deg, rgba(234,237,237,1) 0%, rgba(61,89,124,1) 37%, rgba(0,0,0,1) 100%, rgba(0,48,255,1) 100%);
}

.segundaFileiraMobile{
    display: none;
}

.segundaFileira{
    display: flex;
    margin-top: 23px;
    width: 1449px;
    margin: 20px 184px;
    display: flex;
    height: 430px;
    justify-content: space-between;
    margin-left: 213px;
}

.segundaFileira a{
    text-decoration: none;
}

.primeiraFileira{
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
    width: 1430px;
    margin: 20px auto;
    margin-top: -45px;
}

.valores1{
    height: 152px;
    width: 286px;
    align-items: center;
    margin-left: -40px;
    margin-top: 9px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valores2{
    margin-left: 10%;
    height: 152px;
    width: 286px;
    align-items: center;
    margin-left: -40px;
    margin-top: 37px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valores3{
    height: 152px;
    width: 286px;
    align-items: center;
    margin-top: 9px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valores4{
    height: 152px;
    width: 286px;
    align-items: center;
    margin-top: 29px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.valores5{
    height: 152px;
    width: 286px;
    align-items: center;
    margin-top: 21px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -43px;
}

.valores6{
    height: 152px;
    width: 286px;
    align-items: center;
    margin-top: 33px;
    background-color: #efecec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.simbolors{
    color: #000000;
    font-size: 15px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.simboloMaior{
    color: #000000;
    font-size: 30px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.descricaoBook{
    color: #000000;
    width: 239px;
}

.del{
    color: black;
}

.primeiraFileira a{
    text-decoration: none;
}

.primeirasFotosMobile{
    display: none;
}

.primeiroBranco{
    background: rgb(255 255 255);
    height: 250px;
    padding: 69px;
    width: 210px;
    margin-top: -320px;
    height: 300px;
}
.primeiroBranco img{
    margin-left: 9px;
    cursor: pointer;
    margin-top: -19px;
}

.segundoBranco{
    background: rgb(255 255 255);
    margin-left: 19px;
    height: 250px;
    padding: 69px;
    width: 210px;
    margin-top: -320px;
    height: 300px;
}

.segundoBranco img{
    margin-left: 35px;
    cursor: pointer;
    margin-top: -18px;
}

.amazon{
    margin-left: 15px;
    text-decoration: none;
}

.terceiroBranco{
    background: rgb(255 255 255);
    margin-left: 19px;
    height: 250px;
    padding: 69px;
    width: 210px;
    margin-top: -320px;
    height: 300px;
}

.terceiroBranco img{
    width: 340px;
    margin-top: 10%;
    margin-left: -30%;
    cursor: pointer;
}

.quartoBranco{
    background: rgb(255 255 255);
    margin-left: 19px;
    height: 250px;
    padding: 69px;
    width: 210px;
    margin-top: -320px;
    height: 300px;
}

.quartoBranco img{
    cursor: pointer;
    margin-top: -22px;
}


.primeiraImagem{
    background: #ffffff;
    padding: 32px;
}

.primeiraImagem img{
    cursor: pointer;
    width: 283px;
}

.segundaImagem{
    background-color: #ffffff;
    padding: 2px;
    width: 344px;
    background: #fff;
}

.segundaImagem img{
    height: 38%;
    cursor: pointer;
    margin-top: 53px;
    margin-left: 58px;

}

.terceiraImagem img{
    cursor: pointer;
    margin-top: -26px;
    height: 176px;
}

.terceiraImagem{
    background-color: #ffffff;
    padding: 75px;
    width: 200px;
}

.quartaImagem img{
    cursor: pointer;
    margin-top: 12px;
    width: 173px;
    margin-left: 48px;
}

.quartaImagem{
    background-color: #ffffff;
    padding: 31px;
}

.quartaImagemMobile{
    display: none;
}

#voltarinicio{
    background: #37475A;
    height: 40px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 1%;
    cursor: pointer;
}

#voltarinicio:hover{
    background: #4f5b69;
}

html {
    scroll-behavior: smooth;
}

.rodape{
    background-color: #232F3E;
    width: 1200px;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.conheca-nos{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    width: 45%;
    padding: 20px 20px;
    flex-direction: column; 
    height: 100px;
}

.titulo{
    font-weight: 600;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.dindin{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    width: 50%;
    padding: 20px 20px;
    flex-direction: column; 
    height: 100px;
}

.choro{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 20px;
    justify-content: space-between;
    width: 50%;
    align-items: left;
    height: 100px;
}

.help{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 20px;
    justify-content: space-between;
    width: 50%;
    align-items: left;
    height: 80px;
    font-size: smaller;
    font-family: "Amazon Ember",Arial,sans-serif;
}

html{
    font-size: 20px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.rodape2{
    background-color: #232F3E;
    border-bottom: 1px solid #3A4553;
}

.rodape3{
    width: 100%;
    height: 150px;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.rodape3 img{
    margin-top: 1%;
    width: 6%;
}

.quasefim{
    color: #cfcfcf;
    list-style: none;
    justify-content: center;
}

.ultimamargem{
    display: none;
    background-color: #131A22;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: small;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.penultima{
    display: flex;
    justify-content: center;
}

.ultima{
    color: #777576;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

#voltarinicioMobile{
    display: none;
}

.rodapeMobile{
    display: none;
}

.todoRodape{
    display: none;
}

.primeiraColunaMobile{
    display: none;
}

.segundaMobile{
    display: none;
}

.tituloMobile{
    display: none;
}

.ultimamargemMobile{
    display: none;
}
.dentrodamargemMobile{
    display: none;
}
.penultimaMobile{
    display: none;
}
.ultimaMobile{
    display: none;
}

.container{
    width: 1452px;
    margin-left: 213px;
}

.swiper {
width: 100%;
height: 100%;
background-color: #fff;
z-index: -1 !important;
}


.swiper-slide {
text-align: center;
font-size: 18px;
background: none;

display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

#voltarinicioMobile{
display: none;
}

.mobileRodape{
display: none;
}

.mobileUltimaMargem{
display: none;
}

@media screen and (max-width:400px){
    *{
        padding: 0;
        margin: 0;
        
    }

    body{
        background-color: #EAEDED;
    }
    
    nav{
        background-color: #131921;
        height: 151px;
    }

    .login{
        display: none;
    }

    .duasImagens{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 79px;
    }

    .user{
        margin-top: 8px;
        height: 32px;
    }

    #burguer2{
        width: 23px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        align-items: flex-end;
        align-items: flex-start;
        cursor: pointer;
        margin-left: 14px;
    }
    
    #burguer2 > div{
        background-color: aliceblue;
        height: 2px;
        width: 60px;
        border-radius: 15px;
        transition: all ease-in.3s;
        z-index: 999;
    }
    
    #burguer2 > div:nth-child(2){
        width: 20px;
    }
    
    #burguer2 > div:nth-child(3){
        width: 20px;
    }
    
    #burguer2 > div:nth-child(1){
        width: 20px;
    }
    
    #burguer2:hover div{
        width: 45;
    }
    
    #burguer2.active > div:nth-child(1){
        transform: rotate(50deg) translateY(10px);
        width: 30px;
        margin-top: 1px;
    
    }
    
    #burguer2.active > div:nth-child(2){
        transform: rotate(-50deg) translateY(-10px);
        width: 30px;
        margin-top: 10px;
    }
    
    #burguer2.active > div:nth-child(3){
        opacity: 0;
    }
    
    #menuMobile{
        position: fixed;
        width: 400px;
        background: #fff;
        transform: translateX(-100%);
        transition: all linear .5s;
        display: inline;
    }
    
    #menuMobile.active{
        transform: translateY(0);
        height: 100vh;
    }
    
    #menuMobile ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
    }
    
    #menuMobile ul li{
        margin-bottom: -8px;
        padding: 20px;
        border-bottom: 1px solid #f7f7f7;
        width: 100%;
    } 
    #menuMobile ul li a{
        text-decoration: none;
    }

    .topbar{
        display: block;
        align-items: center;    
    }


    .logoInicio{
        display: none;
    }

    .logoInicioMobile{
        display: flex;
    }

    .logoInicioMobile img{
        margin-top: 2px;
    }

    .meio{
        display: none;
    }
    
    .menu1{
        display: none;
    }

    .primeiraParte{
        display: flex;
        flex-wrap: wrap;
        height: 48px;
        justify-content: space-between;
        align-items: flex-end;
        width: 97%;
    }

    .segundaParte{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    .box_pesquisa{
        width: 88%;
        border-radius: 9px;
    }

    sub{
        display: none;
    }

    .menuPequeno{
        position: relative;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        flex-direction: row;

        display: flex;
        justify-content: space-around;
        background-color: #232F3E;
        width: 100%;
        height: 35px;
        align-items: center;
        font-size: inherit;
        position: fixed;
        margin-top: 70px;
        margin-top: 18px;
        font-family: "Amazon Ember",Arial,sans-serif; 
    }

    .letraPequeno a{
        text-decoration: none;
    }

    .letraPequeno{
        height: 27px;
        width: 100%;
        white-space: nowrap;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }

    .letraPequeno li{
        padding: 0 15px;
    }

    .sub2{
        position: relative;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        flex-direction: row;

    }
    
    .texto2{
        height: 27px;
        width: 100%;
        white-space: nowrap;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }

    .texto3{
        list-style: none;
        color: #ffffff;
        display: contents;
    }
    
    .texto3 a{
        text-decoration: none;
    }
    
    .texto3{
        display: flex;
    }

    .ocultar_mobile{
        display: none;
    }
    
    .primeiraFileira{
        display: none;
    }

    .primeirasFotosMobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff;
        margin-top: 165px;
    }
    
    .primeiroBranco{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
        width: 252px;
    }
    .primeiroBranco img{
        margin-left: 25px;
        cursor: pointer;
        margin-top: -8px;
    }
    
    .segundoBranco{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        width: inherit;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
        width: 252px;
    }
    
    .segundoBranco img{
        margin-left: 57px;
        cursor: pointer;
        margin-top: 24px;
    }
    
    .terceiroBranco{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
        width: 252px;
    }
    
    .terceiroBranco img{
        cursor: pointer;
        width: 340px;
        margin-top: 27px;
        margin-left: -15%;
    }
    
    .quartoBranco{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
        width: 252px;
    }

    .quartoBranco img{
        cursor: pointer;
        margin-top: 8px;
        margin-left: 26px;
    }

    .segundaFileira{
        display: none;
    }

    .segundaFileiraMobile{
        display: flex;
        margin-top: 1px;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }

    .primeiraImagemMobile{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
    }

    .primeiraImagemMobile img{
        margin-left: 82px;
    }

    .segundaImagemMobile{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
    }

    .segundaImagemMobile img{
        margin-left: 7px;
        width: 231px;
        margin-top: 33px;
    }

    .terceiraImagemMobile{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 8px solid #efefef;
    }

    .terceiraImagemMobile img{
        margin-left: 9px;
        margin-top: 13px;
    }

    .quartaImagemMobile{
        background: rgb(255 255 255);
        margin-left: 0px;
        height: 250px;
        padding: 69px;
        margin-top: 0px;
        border-bottom: 0px solid #efefef
    }

    .primeiraImagemMobile img{
        margin-left: -10px;
        width: 283px;
        margin-top: 14px;
    }

    .container{
        width: 1200px;
        width: 1429px;
        margin: 0 auto;
    }

    .swiper {
    width: 100%;
    height: 100%;
    background-color: #fff;
   }


    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    #voltarinicioMobile{
        background: #37475A;
        height: 40px;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 1%;
        cursor: pointer;
    }

    #voltarinicioMobile:hover{
        background: #4f5b69;
    }

    .todoRodape ul{
        margin-top: 10px;
        display: flex;
        font-size: large;
        font-family: "Amazon Ember",Arial,sans-serif;
        margin-left: 7px;
        justify-content: space-between;
    }

    .mobileRodape{
        display: flex;
        background-color: #455260;
    }

    .mobileTitulo{
        margin: 15px;
        width: 194px;
    }

    .mobileTitulo2{
        margin: 15px;
        width: 128px;
    }

    .tituloMobile li{
        color: #fff;

    }

    #voltarinicio{
        display: none;
    }

    .rodape{
        display: none;
        background-color: #232F3E;
        width: 1200px;
        margin: auto;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }

    .conheca-nos{
        display: none;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: left;
        list-style: none;
        width: 45%;
        padding: 20px 20px;
        flex-direction: column; 
        height: 100px;
    }

    .titulo{
        display: none;
        font-weight: 600;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .dindin{
        display: none;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: left;
        list-style: none;
        width: 50%;
        padding: 20px 20px;
        flex-direction: column; 
        height: 100px;
    }

    .choro{
        display: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 20px;
        justify-content: space-between;
        width: 50%;
        align-items: left;
        height: 100px;
    }

    .help{
        display: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 20px;
        justify-content: space-between;
        width: 50%;
        align-items: left;
        height: 80px;
        font-size: smaller;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    html{
        font-size: 20px;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .rodape2{
        display: none;
        background-color: #232F3E;
        border-bottom: 1px solid #3A4553;
    }

    .rodape3{
        display: none;

    }

    .rodape3 img{
        display: none;
    }

    .quasefim{
        display: none;
    }

    .ultimamargem{
        display: none;
    }

    .penultima{
        display: none;
    }

    .ultima{
        display: none;
    }

    .dentrodamargemMobile li{
        font-size: small;
        color: #fff;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .mobilePenultima{
        font-size: small;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .brpt{
        display: flex;
        justify-content: space-evenly;
    }

    .brpt li{
        color: #cccccc;
    }

    .mobileUltima2{
        display: flex;
        justify-content: center;
    }

    .infosUltimas{
        display: flex;
    }

    .infosUltimas li{
        color: #cccccc;

    }

    .mobileUltimaMargem{
        background-color: #131A22;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .mobileUltima{
        margin-left: 23px;
        font-size: 14px;
    }

    .mobileUltima3{
        font-size: 14px;
        display: flex;
        justify-content: center;
        color: #cccccc;
    }
    .swiper {
        display: none;
    }
  .swiper-slide {
    display: none;
  }

  .swiper-slide img {
    display: none;
  }

}