*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    height: 100%;
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    height: 80px;
    background: #131921;
    position:fixed;
    z-index: 10;
}

.menu1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.menu1 li{
    cursor: pointer;
}

.topbar{
    display: none;
}

.box_pesquisa{
    width: 1000px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

sub{
    display: flex;
    justify-content: space-around;
    background-color: #232F3E;
    width: 100%;
    height: 35px;
    align-items: center;
    font-size: inherit;
    position: fixed;
    margin-top: 70px;
    z-index: 10;
}

.texto2{
    list-style: none;
    color: #ffffff;
    display: contents;
}

#burguer{
    display: none;
}

#menuMobile{
    display: none;
}

#burguer{
    width: 20px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    align-items: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

#burguer > div{
    background-color: aliceblue;
    height: 3px;
    width: 60px;
    border-radius: 15px;
    transition: all ease-in.3s;
    z-index: 999;
}

#menu-mobile{
    display: none;
}

#burguer > div:nth-child(2){
    width: 20px;
}

#burguer > div:nth-child(3){
    width: 20px;
}

#burguer > div:nth-child(1){
    width: 20px;
}

#burguer:hover div{
    width: 45;
}

#burguer.active > div:nth-child(1){
    transform: rotate(50deg) translateY(10px);
    width: 30px;
    margin-top: 1px;

}

#burguer.active > div:nth-child(2){
    transform: rotate(-50deg) translateY(-10px);
    width: 30px;
    margin-top: 10px;
}

#burguer.active > div:nth-child(3){
    opacity: 0;
}

#menuDesktop{
    position: fixed;
    width: 400px;
    background: #fff;
    transform: translateX(-100%);
    transition: all linear .5s;
}

#menuDesktop.active{
    transform: translateY(0);
    margin-top: 105px;
    height: 100vh;
    z-index: 10;
}

#menuDesktop ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

#menuDesktop ul li{
    padding: 20px;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    line-height: 30px;
} 
#menuDesktop ul li a{
    text-decoration: none;
}

.ofertadoDia{
    display: flex;
}

.inteiro{
    display: flex;
}

.texto3{
    list-style: none;
    color: #000000;
}

li{
    color: aliceblue;
    list-style: none;
    font-size: 18px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

a{
    text-decoration: none;
}

.container{
    background-color: #ffffff;
    width: 250px;
    margin: 0 auto;
}

.container img{
    display: flex;
}

.semBolinha{
    list-style: none;
}

.tudo{
    display: flex;
    justify-content: center;
}

.descricaoNotebook{
    margin-left: 20px;
}

.meio{
    margin-top: 66px;
}

.nomeNotebook{
    margin-top: 33%;
    color: #000000;
    font-size: xx-large;
    font-family: "Amazon Ember",Arial,sans-serif;
    list-style: none;
    margin-top: 40%;
}

.estrelinhas{
    width: 106px;
}

.comTudo{
    font-size: large;
}

.valorAntes{
    display: flex;
    margin-left: 182px;
}

.valorAntes li{
    color: #000000;
    font-family: "Amazon Ember",Arial,sans-serif;
    margin-right: 10px;
}

del{
    font-family: "Amazon Ember",Arial,sans-serif;
}

.valorAgora{
    display: flex;
    margin-left: 46px;
}

.valorAgora li{
    margin-right: 10px;
}

.comOferta{
    color: #6A6D6E !important; 
    margin-top: 5px;
}

.valor{
    color: #B83A1A !important; 
    font-size: 24px;
}

.descontoTotal{
    display: flex;
    margin-left: 75px;
}

.descontoTotal li{
    color: #000000;
    margin-right: 10px;
}

.linhaH{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 3px;
    width: 528px;
}

.imagemCadeado{
    display: flex;
}

.imagemCarro{
    display: flex;
}

.imagemDevolucao{
    display: flex;
}

.infoImagem{
    display: flex;
    width: 295px;
    justify-content: space-around;
    height: 37px;
}

.adcCarrinho{
    color: black;
    background: rgb(254, 203, 0);
    border-radius: 39px;
    width: 196px;
    font-size: 16px;
    padding: 13px;
    text-align: center;
    margin-top: -23px;
    margin-left: 290px;
    margin-bottom: -17px;
}

.adcCarrinho a{
    text-decoration: none; 
    list-style: none;
}

.adcCarrinho li{
    color: #000;
}

.seila{
    display: flex;
}

.info{
    margin-bottom: 20px;
    display: flex;
    color: #000000;  
    margin-top: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: medium;
    font-weight: bold;
}

.tresInfos{
    display: flex;
    width: 293px;
    justify-content: space-around;
}

.info2{
    color: #000000;
    margin-top: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
}

.info3{
    color: #000000;
    margin-top: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
}

.info4{
    color: #000000;
    margin-top: 13px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
}

.especificacoesNotebook1 li{
    color: #000000;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.especificacoesNotebook1 a{
    text-decoration: none;
}
.especificacoesNotebook1 a:hover{
    background-color: #FEFAF6;
    border: solid #E47911 1px;
    margin-right: 5px;
    padding: 2px 6px;
}

.especificacoesNotebook1{
    display: flex;
    margin-top: 12px;
    margin-bottom: 14px;
}

.especificaoPrimeiro:hover{
    width: 96px;
    
}

.especificaoPrimeiro{
    margin-right: 44px;
}

.especificacaoSegundo{
    margin-right: 44px;
}

.especificacaoTerceiro{
    margin-right: 44px;
}

.especificacaoQuarto{
    margin-right: 44px;
    margin-top: 3px;
}

.comSemNegrito li{
    color: #000000;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.comSemNegrito pre{
    color: #000000;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.comSemNegrito{
    display: flex;
}

.comNegrito{
    font-weight: bold;
}

.paragrafoUm{
    font-weight: bold;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: larger;
    margin-bottom: 14px;
}

.sobreItem li{
    color: #000000;
    font-family: "Amazon Ember",Arial,sans-serif;
    list-style: disc;
    margin: 6px;
}

.sobreItem{
    margin-left: 19px;
}

.ultimaLinha{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    margin-top: 17px;
    width: 97%;
    margin-left: 25px;
}

.comDois{
    display: flex;
}

.fabricante{
    font-weight: bold;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: xx-large;
    margin-bottom: 14px;
    color: #000000;
    margin-left: 25px;
}

.infosAcer{
    margin-left: 169px;
}

.infos{
    height: 399px;
    border: 1px solid #DFDFDF;
    width: 40%;
    margin-right: 219px;
}

.valorNot{
    color: #C05336;
    font-size: x-large;
    margin: 20px;
    font-size: 28px;
}

.letras{
    margin: 20px;
}

.letras2{
    margin-bottom: 10px;
}

.addCarrinho2{
    color: black;
    background: rgb(254, 203, 0);
    border-radius: 39px;
    width: 340px;
    font-size: 16px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    margin-top: 33px;
    margin-left: 16px;
    margin-right: 10px;
    font-size: large;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.comprarAgora{
    color: black;
    background: #FFA41C;
    border-radius: 39px;
    width: 340px;
    font-size: 16px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 10px;
    font-size: large;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.seguranca{
    display: flex;
    margin: 13px;
    align-items: baseline;
    margin-left: 23px;
}

.seguranca img{
    height: 18px;
    margin-top: 2px;
    margin-right: 22px;
}

.enviado{
    display: flex;
    justify-content: space-around;
    margin-left: 6px;
}

.enviado li{
    font-size: smaller;
}

.vendido{
    display: flex;
    justify-content: space-around;
    margin: 7px;
}

.vendido li{
    font-size: smaller;
}

.swiper {
width: 786px;
height: 800px;
margin-top: 132px;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #F8F8F8;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.img1{
height: 75% !important;
}

.img2{
height: 63% !important;
}

.img3{
height: 58% !important;
}

.img4{
height: 62% !important;
}

.img5{
height: 64% !important;
}

#voltarinicio{
    background: #37475A;
    height: 40px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 1%;
    cursor: pointer;
}

#voltarinicio:hover{
    background: #4f5b69;
}

.rodape{
    background-color: #232F3E;
    width: 1200px;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.conheca-nos{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    width: 45%;
    padding: 20px 20px;
    flex-direction: column; 
    height: 100px;
}

.titulo{
    font-weight: 600;
}

.dindin{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    width: 50%;
    padding: 20px 20px;
    flex-direction: column; 
    height: 100px;
}

.choro{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 20px;
    justify-content: space-between;
    width: 50%;
    align-items: left;
    height: 100px;
}

.help{
    color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 20px;
    justify-content: space-between;
    width: 50%;
    align-items: left;
    height: 80px;
    font-size: smaller;
}

html{
    font-size: 20px;
}

.rodape2{
    background-color: #232F3E;
    border-bottom: 1px solid #3A4553;
}

.rodape3{
    width: 100%;
    height: 150px;
    background-color: #232F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.rodape3 img{
    margin-top: 1%;
    width: 6%;
}

.quasefim{
    color: #cfcfcf;
    list-style: none;
    justify-content: center;
}

.ultimamargem{
    display: none;
    background-color: #131A22;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: small;
}

.penultima{
    display: flex;
    justify-content: center;
}

.ultima{
    color: #777576;
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column; 
}


#voltarinicioMobile{
    display: none;
}

.rodapeMobile{
    display: none;
}

.todoRodape{
    display: none;
}

.primeiraColunaMobile{
    display: none;
}

.segundaMobile{
    display: none;
}

.tituloMobile{
    display: none;
}

.ultimamargemMobile{
    display: none;
}
.dentrodamargemMobile{
    display: none;
}
.penultimaMobile{
    display: none;
}
.ultimaMobile{
    display: none;
}
.descricaoNotebookMobile{
    display: none;
}
.valorAtualMobile{
    display: none;
}
.valorAntesMobile{
    display: none;
}
.infoMobile{
    display: none;
}
.entregaMobile{
    display: none;
}
.nomeNotebookMobile{
    display: none;
}
.acerMobile{
    display: none;
}
.segurancaMobile{
    display: none;
}
.enviadoMobile{
    display: none;
}
.vendidoMobile{
    display: none;
}

#voltarinicioMobile{
    display: none;
}

.rodapeMobile{
    display: none;
}

.todoRodape{
    display: none;
}

.primeiraColunaMobile{
    display: none;
}

.segundaMobile{
    display: none;
}

.tituloMobile{
    display: none;
}

.ultimamargemMobile{
    display: none;
}
.dentrodamargemMobile{
    display: none;
}
.penultimaMobile{
    display: none;
}
.ultimaMobile{
    display: none;
}

.mobileRodape{
    display: none;
}

.mobileUltimaMargem{
    display: none;
}

.estoqueMobile{
    display: none;
}

.addCarrinhoMobile{
    display: none;
}

.comprarAgoraMobile{
    display: none;
}

@media screen and (max-width:400px){
    *{
        padding: 0;
        margin: 0;   
    }

    .rodape{
        display: none;
    }
    
    nav{
        background-color: #131921;
        height: 151px;
    }

    .login{
        display: none;
    }

    .duasImagens{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 79px;
    }

    .user{
        margin-top: 8px;
        height: 32px;
    }

    
    #burguer2{
        width: 23px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        align-items: flex-end;
        align-items: flex-start;
        cursor: pointer;
        margin-left: 14px;
    }
    
    #burguer2 > div{
        background-color: aliceblue;
        height: 2px;
        width: 60px;
        border-radius: 15px;
        transition: all ease-in.3s;
        z-index: 999;
    }
    
    #burguer2 > div:nth-child(2){
        width: 20px;
    }
    
    #burguer2 > div:nth-child(3){
        width: 20px;
    }
    
    #burguer2 > div:nth-child(1){
        width: 20px;
    }
    
    #burguer2:hover div{
        width: 45;
    }
    
    #burguer2.active > div:nth-child(1){
        transform: rotate(50deg) translateY(10px);
        width: 30px;
        margin-top: 1px;
    
    }
    
    #burguer2.active > div:nth-child(2){
        transform: rotate(-50deg) translateY(-10px);
        width: 30px;
        margin-top: 10px;
    }
    
    #burguer2.active > div:nth-child(3){
        opacity: 0;
    }
    
    #menuMobile{
        position: fixed;
        width: 400px;
        background: #fff;
        transform: translateX(-100%);
        transition: all linear .5s;
        display: inline;
    }
    
    #menuMobile.active{
        transform: translateY(0);
        margin-top: 153px;
        height: 100vh;
        z-index: 10;
    }
    
    #menuMobile ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
    }
    
    #menuMobile ul li{
        padding: 20px;
        border-bottom: 1px solid #f7f7f7;
        width: 100%;
        margin-bottom: -6px;
    } 
    #menuMobile ul li a{
        text-decoration: none;
        color: #551A8B;
    }

    .topbar{
        display: block;
        align-items: center;    
    }


    .logoInicio{
        display: none;
    }

    .logoInicioMobile{
        display: flex;
    }

    .texto2{
        display: none;
    }

    .logoInicioMobile img{
        margin-top: 2px;
    }

    .menu1{
        display: none;
    }

    .menuPequeno1{
        position: relative;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        background-color: #232F3E;
        width: 100%;
        height: 35px;
        align-items: center;
        font-size: inherit;
        position: fixed;
        margin-top: 70px;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .letraPequeno1 a{
        text-decoration: none;
    }

    .letraPequeno1{
        height: 27px;
        width: 100%;
        white-space: nowrap;
        margin: 0 10px;
        display: flex;
        align-items: center;
    }

    .letraPequeno1 li{
        padding: 0 15px;
        color: aliceblue;
        font-size: medium;
    }

    li{
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .primeiraParte{
        display: flex;
        flex-wrap: wrap;
        height: 48px;
        justify-content: space-between;
        align-items: flex-end;
        width: 97%;
    }

    .segundaParte{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    .box_pesquisa{
        width: 88%;
        border-radius: 9px;
    }

    sub{
        display: none;
    }

    .swiper {
        width: 100%;
        height: 100%;
        margin-top: -24px;
      }
    
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .tudo{
        display: flex;
        flex-direction: column;
      }

      .acerMobile{
        margin-top: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 13px;
      }

      .acerMobile a{
        text-decoration: none;
        color: #59919B;
      }

      .nomeNotebookMobile{
        font-weight: bold;
        padding: 0px 13px;
        color: black;
        font-size: larger;
        margin-top: 12px;
      }

    .descricaoNotebook{
        display: none;
    }

    .ofertaMobile{
        color: #e98972 !important;

    }

    .valorAtualMobile{
        display: flex;
        margin-top: 19px;
    }

    .valorAtualMobile li{
        color: #B83A1A;
        font-size: larger;
        font-weight: bold;
        margin-left: 16px;
    }
    

    .valorAntesMobile{
        display: flex;
        margin-left: 19px;
        font-size: 15px;
        margin-top: 11px;
    }

    .valorAntesMobile li{
        margin-right: 4px;
    }

    .infoMobile{
        color: black;
        font-size: small;
        font-weight: bold;
        margin-left: 19px;
        margin-top: 13px;
    }

    .entregaMobile{
        display: flex;
        margin-left: 19px;
        margin-top: 13px;
    }

    .entregaMobile li{
        margin-right: 5px;
    }

    .estoqueMobile{
        display: inline;
        margin-left: 19px;
        margin-top: 13px;
        font-size: 17px;
    }

    .addCarrinhoMobile{
        display: inline;
        color: black;
        background: rgb(254, 203, 0);
        border-radius: 39px;
        width: 340px;
        font-size: 16px;
        padding: 13px;
        text-decoration: none;
        text-align: center;
        margin-top: 33px;
        margin-left: 16px;
        margin-right: 10px;
        font-size: large;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .addCarrinhoMobile a {
        font-size: smaller;
    }

    .comprarAgoraMobile{
        display: inline;
        color: black;
        background: #FFA41C;
        border-radius: 39px;
        width: 340px;
        font-size: 16px;
        padding: 13px;
        text-decoration: none;
        text-align: center;
        margin-top: 13px;
        margin-left: 16px;
        margin-right: 10px;
        font-size: large;
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    .comprarAgoraMobile li{
        font-size: smaller;
        color: #000;
    }

    .addCarrinho2{
        display: none;
    }

    .comprarAgora{
       display: none; 
    }

    .segurancaMobile{
        display: flex;
        margin: 13px;
        align-items: baseline;
        margin-left: 23px;
    }

    .segurancaMobile img{
        height: 18px;
        margin-top: 2px;
        margin-right: 13px;
    }

    .enviadoMobile{
        display: flex;
        justify-content: space-between;
        margin-left: 24px;
        margin-right: 108px;
        margin-bottom: 10px;
    }
    
    .enviadoMobile li{
        font-size: smaller;
    }

    .vendidoMobile{
        display: flex;
        justify-content: space-between;
        margin-left: 24px;
        margin-right: 108px;
    }
    
    .vendidoMobile li{
        font-size: smaller;
    }

    .infos{
        display: none;
    }

    .infosAcer{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .infosAcer img{
        height: 100%;
        margin-bottom: 7px;
        width: 100%;
    }

    div{
        font-family: "Amazon Ember",Arial,sans-serif;
    }

    #voltarinicioMobile{
        background: #37475A;
        height: 40px;
        text-align: center;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 1%;
        cursor: pointer;
    }

    #voltarinicioMobile:hover{
        background: #4f5b69;
    }

    .todoRodape ul{
        margin-top: 10px;
        display: flex;
        font-size: large;
        font-family: "Amazon Ember",Arial,sans-serif;
        margin-left: 7px;
        justify-content: space-between;
    }
    
    .mobileRodape{
        display: flex;
        background-color: #455260;
    }
    
    .mobileTitulo{
        margin: 15px;
        width: 194px;
    }
    
    .mobileTitulo2{
        margin: 15px;
        width: 128px;
    }
    
    .tituloMobile li{
        color: #fff;
    
    }
    
    #voltarinicio{
        display: none;
    }
    
    .rodape{
        display: none;
        background-color: #232F3E;
        width: 1200px;
        margin: auto;
        height: 250px;
        display: flex;
        justify-content: space-between;
    }
    
    .conheca-nos{
        display: none;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: left;
        list-style: none;
        width: 45%;
        padding: 20px 20px;
        flex-direction: column; 
        height: 100px;
    }
    
    .titulo{
        display: none;
        font-weight: 600;
        font-family: "Amazon Ember",Arial,sans-serif;
    }
    
    .dindin{
        display: none;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: left;
        list-style: none;
        width: 50%;
        padding: 20px 20px;
        flex-direction: column; 
        height: 100px;
    }
    
    .choro{
        display: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 20px;
        justify-content: space-between;
        width: 50%;
        align-items: left;
        height: 100px;
    }
    
    .help{
        display: none;
        color: #fff;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 20px 20px;
        justify-content: space-between;
        width: 50%;
        align-items: left;
        height: 80px;
        font-size: smaller;
        font-family: "Amazon Ember",Arial,sans-serif;
    }
    
    html{
        font-size: 20px;
        font-family: "Amazon Ember",Arial,sans-serif;
    }
    
    .rodape2{
        display: none;
        background-color: #232F3E;
        border-bottom: 1px solid #3A4553;
    }
    
    .rodape3{
        display: none;
    
    }
    
    .rodape3 img{
        display: none;
    }
    
    .quasefim{
        display: none;
    }
    
    .ultimamargem{
        display: none;
    }
    
    .penultima{
        display: none;
    }
    
    .ultima{
        display: none;
    }
    
    .dentrodamargemMobile li{
        font-size: small;
        color: #fff;
        font-family: "Amazon Ember",Arial,sans-serif;
    }
    
    .mobilePenultima{
        font-size: small;
        font-family: "Amazon Ember",Arial,sans-serif;
    }
    
    .brpt{
        display: flex;
        justify-content: space-evenly;
    }
    
    .brpt li{
        color: #cccccc;
    }
    
    .mobileUltima2{
        display: flex;
        justify-content: center;
    }
    
    .infosUltimas{
        display: flex;
    }
    
    .infosUltimas li{
        color: #cccccc;
    }
    
    .mobileUltimaMargem{
        background-color: #131A22;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .mobileUltima{
        margin-left: 23px;
        font-size: 14px;
    }
    
    .mobileUltima3{
        font-size: 14px;
        display: flex;
        justify-content: center;
        color: #cccccc;
    }
}